<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseDataMapper">

	<!--表名 -->
	<sql id="tableName">
		base_data
	</sql>

	<!-- 字段 -->
	<sql id="Field">
			id,pcode,code,name,value
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
	
	 #{id}, #{pcode}, #{code}, #{name}, #{value}
	
	</sql>
 

	<!-- 列出所有content.entity.className -->
	<select id="listAllBaseData" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select> 
		<select id="SelectBaseDatas" parameterType="pd" resultType="com.fh.entity.app.BaseData">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
			where 1=1
		<if test="id != null"> and id = #{id}</if>
		<if test="pcode != null"> and pcode = #{pcode}</if>
		<if test="code != null"> and code = #{code}</if>
		<if test="name != null"> and name = #{name}</if>
		<if test="value != null"> and value = #{value}</if>
	</select> 
	<select id="queryBaseData" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
			where 1=1
		<if test="id != null"> and id = #{id}</if>
		<if test="pcode != null"> and pcode = #{pcode}</if>
		<if test="code != null"> and code = #{code}</if>
		<if test="name != null"> and name = #{name}</if>
		<if test="value != null"> and value = #{value}</if>
	</select> 
	
	<!-- 新增会员 -->
	<insert id="saveBaseData" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		pcode,code,name,value
		) values (
		 #{pcode}, #{code}, #{name}, #{value}
		)
	</insert>

	<!-- 删除用户 -->
	<delete id="deleteBaseData" parameterType="pd">
		delete from
		<include refid="tableName"></include> 
		where  id  =  #{id}
	</delete>
 
 




	<!-- 修改 -->
	<update id="editBaseData" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
	pcode=#{pcode},
	code=#{code},
	name=#{name},
	value=#{value}
		where
		 id  =  #{id}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findByUiId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		 id  =  #{id}
	</select>
 

	<!-- 批量删除用户 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		 id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 获取总数 -->
	<select id="getBaseDataCount" parameterType="String" resultType="pd">
		select
		count(1) BaseDataCount
		from
		<include refid="tableName"></include>
	</select>

	<!-- FH HFTC( HFTC) -->
</mapper>