<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserRoleMapper">

	<!--表名 -->
	<sql id="tableName">
		user_role
	</sql>

	<!-- 字段 -->
	<sql id="Field">
			id,uid,rid
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
	
	 #{id}, #{uid}, #{rid}
	
	</sql>
 

	<!-- 列出所有content.entity.className -->
	<select id="listAllUserRole" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
	</select> 
		<select id="SelectUserRoles" parameterType="pd" resultType="com.fh.entity.app.UserRole">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
			where 1=1
		<if test="id != null"> and id = #{id}</if>
		<if test="uid != null"> and uid = #{uid}</if>
		<if test="rid != null"> and rid = #{rid}</if>
	</select> 
	<select id="queryUserRole" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
			where 1=1
		<if test="id != null"> and id = #{id}</if>
		<if test="uid != null"> and uid = #{uid}</if>
		<if test="rid != null"> and rid = #{rid}</if>
	</select> 
	
	<!-- 新增会员 -->
	<insert id="saveUserRole" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		uid,rid
		) values (
		#{uid}, #{rid}
		)
	</insert>

	<!-- 删除用户 -->
	<delete id="deleteUserRole" parameterType="pd">
		delete from
		<include refid="tableName"></include> 
		where 1=1
		<if test="id != null"> and id = #{id}</if>
		<if test="uid != null"> and uid = #{uid}</if>
		
	</delete>
 
 




	<!-- 修改 -->
	<update id="editUserRole" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
	uid=#{uid},
	rid=#{rid}
		where
		 id  =  #{id}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findByUiId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		 id  =  #{id}
	</select>
 

	<!-- 批量删除用户 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		 id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 获取总数 -->
	<select id="getUserRoleCount" parameterType="String" resultType="pd">
		select
		count(1) UserRoleCount
		from
		<include refid="tableName"></include>
	</select>

	<!-- FH HFTC( HFTC) -->
</mapper>